/* 
 * 	Core Owl Carousel CSS File
 *	v1.19
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* display none until init */
.owl-carousel{
	position: relative;
	width: 100%;
	margin-bottom:60px;
	-ms-touch-action: pan-y;
	vertical-align: top;
	word-wrap:break-word;

}

.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}

.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}

.owl-carousel .owl-item{
	float: left;
  text-align:center;
}

.owl-controlls .owl-page,
.owl-controlls .owl-buttons div{
	cursor: pointer;
}

.owl-controlls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
  cursor:url(grabbing.html) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
       
.owl-theme .owl-controlls{
	text-align: center;
  position:absolute;
}
 
/* Styling Pagination*/

.owl-theme .owl-controlls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controlls .owl-page span{
	display: block;
	width: 30px;
	height: 10px;
	margin: 0 2px;
	background: #444;

}
.img_blog.owl-theme .owl-controlls .owl-page span{
	display: block;
	width: 25px;
	height: 10px;
	margin: 0 2px 10px;
	background: #fff;

}

.owl-theme .owl-controlls .owl-page.active span,
.owl-theme .owl-controlls.clickable .owl-page:hover span,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page.active span,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span:hover{
	background-color: #e74c3c;

}


/* If PaginationNumbers is true */
.owl-theme .owl-controlls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

}

/* --------------------------------------------------------	*/
/* Owl Carousel carousel-top-navigation */
/* --------------------------------------------------------	*/

.owl-theme .owl-controlls .owl-buttons div{
  position: absolute;
  display: inline-block;
  zoom: 1; 
 *display: inline;/*IE7 life-saver */
  width: 35px;
  margin: 0 3px;
  height: 35px; 
  cursor: pointer;
  z-index: 100;    
  line-height:35px;
  font-size:18px;
  font-family:FontAwesome;
  font-weight:bold;
  font-style:normal;
  text-align:center;
  background:transparent;
  border:1px solid #34302D;
  color: #34302D;
}

.img_blog .owl-controlls {
    bottom: 0 !important;
    left: auto !important;
    right: 1.8% !important;
    top: auto !important;
}
.img_blog.owl-carousel {
    margin-bottom: 0 !important;
}
/*.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span{
	display: block;
	width: 15px;
	height: 15px;
	margin: 3px;
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: transparent;
	box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
}*/


/* 3D Flip *//*

.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page, 
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page {
	-webkit-perspective: 1000px;
	perspective: 1000px;
	margin: auto -2px;
}
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page span,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span {
	background-color: transparent;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page span::before,
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page span::after,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span::before,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: white;
	content: '';
	text-indent: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page span::after,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span::after {
	background-color: #fff;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page span:hover,
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page span:focus,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span:hover,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page span:focus {
	opacity: 1;
}
.portfolio_single.owl-carousel.owl-theme .owl-controlls .owl-page.active span,
.img_blog.owl-carousel.owl-theme .owl-controlls .owl-page.active span{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}*/

.portfolio_single.owl-carousel{
	margin-bottom: 30px;
}

.portfolio_single .owl-controlls{
    bottom: 10px !important;
    left: auto !important;
    right: 1.8% !important;
    top: auto !important;
}








.testi_slides .owl-controlls {
    bottom: 0 !important;
    left: auto !important;
    right: 10%;
    top: -30%;
}
.owl-theme .owl-controlls {
    bottom: -10px;
    left: 50%;
}
.rblog_slides.owl-carousel.owl-theme .owl-controlls {
    bottom: -30px !important;
}

.carousel.owl-theme .owl-controlls{
    bottom: -60px;
    left: 40%;
}
     
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
       
.owl-theme .owl-controlls.clickable .owl-buttons div:hover{
	text-decoration: none;
	border-color:#e74c3c;
	color: #e74c3c;
}

.owl-prev {
  right: 10%;
}

.owl-next {
  left: 0px;
}
  
.owl-prev:before {
  content:"\f104";
  margin:0px auto;
 
}  

.owl-next:before {
  content:"\f105";
  margin:0px auto;
  
}

.owl-prev.disabled, .owl-next.disabled, .owl-prev.disabled:hover, .owl-next.disabled:hover {
  border-color:#c8cfd7 !important;
  color: #c8cfd7 !important;
  cursor: no-drop !important;
}


.related_work.owl-carousel{
	margin-bottom: 15px;
}
.related_work .owl-controlls {
    left: auto;
    right: 50px;
    top: -27%;
}