@charset "utf-8";
/* CSS Document */
.logo_header
{
width: 100%;
float: left;
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;

}

.row
{
	.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ * {
visibility: hidden !important;
margin-left: -15px;
margin-right: -15px;
}

.row:before, .row:after {
content: " ";
display: table;
}

.containerer
{
	.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ * {
visibility: hidden !important;
width: 750px;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;

}


.containerer:before, .containerer:after {
content: " ";
display: table;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
/* box-sizing: border-box; */
}


.navbar_brand {
width: 100%;
margin-top: 8px;
}

*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
/* box-sizing: border-box; */
}

media="screen"
@media (max-width: 991px)

.navbar_brand img 
{
width: 50%;
}

