@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/


/* layout css only
   
*/



img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600);
@import url(settings.css);
@import url(settings-ie8.css);
@import url(font-awesome.css);
@import url(magnified.css);
@import url(owl.carousel.css);
@import url(jquery.bxslider.css);
@import url(menus.css);


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

.col-xl
{
    width: 100%;
    height: 90px;
}

.col-logo
{
    width: 15%;
    float: left;
    height: 90px;
}

.col-ms
{
    width: 85%;
    float: left;
    height: 90px;
}

.logo
{
    width: 100%;
    height: 90px;
}

.head
{
    width: 100%;
    height: 90px;
}

.col-menu
{
width: 100%;
    height: 30px;
    background-color: white;
}

.col-content
{
    width: 100%;
     height: 1311px;
    background-color: white;

}

.col-tl
{
width: 28%;
    height: 60px;
    margin-left: 285px;
}

.col-long
{
    width: 100%;
    background-color: white;
    height: 250px;
}

.col-footer
{
    width: 55%;
    height: 60px;
    margin-left: 172px;
}

footer
{
    width: 100%;
    height: 60px;
    margin-top: 0px;
    background-color: white;
  
}

/* panel css */
.sb-search {
    position: relative;
    width: 0%;
    min-width: 40px;
    max-height: 39px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

input[type="text"], input[type="email"] {
    border-radius: 0;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #e9e9e9;
    color: #A3A3A3;
    height: 40px;
    font-size: 13px;
    box-shadow: none;
}

.sb-icon-search {
    color: #888;
    background: #ffffff;
    z-index: 90;
    font-size: 16px;
    font-family: 'FontAwesome';
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\f002";
}

.social_media {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: -40px;
    width: 70%;
}

.social_media li {
    float: left;
}

.social_media li a {
    color: #888;
    display: block;
    height: 39px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-indent: -500em;
    width: 39px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}


.social_media li a:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

.col-xl
{
    width: 100%;
    height: 90px;
}

.col-logo
{
    width: 15%;
    float: left;
    height: 90px;
}

.col-ms
{
    width: 85%;
    float: left;
    height: 90px;
}

.logo
{
    width: 100%;
    height: 90px;
}

.head
{
    width: 100%;
    height: 90px;
}

.col-menu
{
width: 100%;
    height: 30px;
    background-color: white;
}

.col-content
{
    width: 100%;
     height: 1311px;
    background-color: white;

}

.col-tl
{
width: 28%;
    height: 60px;
    margin-left: 285px;
}

.col-long
{
    width: 100%;
    background-color: white;
    height: 250px;
}

.col-footer
{
    width: 55%;
    height: 60px;
    margin-left: 172px;
}

footer
{
    width: 100%;
    height: 60px;
    margin-top: 0px;
    background-color: white;
  
}

/* panel css */
.sb-search {
    position: relative;
    width: 0%;
    min-width: 40px;
    max-height: 39px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

input[type="text"], input[type="email"] {
    border-radius: 0;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #e9e9e9;
    color: #A3A3A3;
    height: 40px;
    font-size: 13px;
    box-shadow: none;
}

.sb-icon-search {
    color: #888;
    background: #ffffff;
    z-index: 90;
    font-size: 16px;
    font-family: 'FontAwesome';
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\f002";
}

.social_media {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: -87px;
    width: 70%;
}

.social_media li {
    float: left;
}

.social_media li a {
    color: #888;
    display: block;
    height: 39px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-indent: -500em;
    width: 39px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}


.social_media li a:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}


}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

.col-xl
{
    width: 100%;
    height: 90px;
}

.col-logo
{
    width: 15%;
    float: left;
    height: 90px;
}

.col-ms
{
    width: 85%;
    float: left;
    height: 90px;
}

.logo
{
    width: 100%;
    height: 90px;
}

.head
{
    width: 100%;
    height: 90px;
}

.col-menu
{
width: 100%;
    height: 30px;
    background-color: white;
}

.col-content
{
    width: 100%;
     height: 1311px;
    background-color: white;

}

.col-tl
{
width: 28%;
    height: 60px;
    margin-left: 285px;
}

.col-long
{
    width: 100%;
    background-color: white;
    height: 250px;
}

.col-footer
{
    width: 55%;
    height: 60px;
    margin-left: 172px;
}

footer
{
    width: 100%;
    height: 60px;
    margin-top: 0px;
    background-color: white;
  
}

/* panel css */
.sb-search {
    position: relative;
    width: 0%;
    min-width: 40px;
    max-height: 39px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

input[type="text"], input[type="email"] {
    border-radius: 0;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #e9e9e9;
    color: #A3A3A3;
    height: 40px;
    font-size: 13px;
    box-shadow: none;
}

.sb-icon-search {
    color: #888;
    background: #ffffff;
    z-index: 90;
    font-size: 16px;
    font-family: 'FontAwesome';
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
    content: "\f002";
}

.social_media {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: -87px;
    width: 70%;
}

.social_media li {
    float: left;
}

.social_media li a {
    color: #888;
    display: block;
    height: 39px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-indent: -500em;
    width: 39px;
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}


.social_media li a:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}


}