.widget_minimax_image h1,
.widget_minimax_image h2,
.widget_minimax_image h3,
.widget_minimax_image h4{
    margin:0px !important;
    text-align: left;
}
.widget_minimax_image {
    text-align: center;
}
.widget_minimax_image p {
    text-align: left;
}
